<!-- Contact Us Section -->
<div class="grid grid-cols-1 lg:grid-cols-12 lg:gap-2 px-5 sm:px-8 md:px-16 lg:px-32 pt-10 relative bg-slate-200 pb-28">

    <!-- Cloud -->
    <img src="assets/cloud.png" alt="Clouds" class="absolute max-sm:-bottom-3 -bottom-7 object-cover left-0 w-full overflow-hidden">
    
    <!-- Contact Part -->
    <form [formGroup]="contactForm" (ngSubmit)="postContact()" class="flex justify-center items-center flex-col col-span-7 gap-8">
        <h1 class="text-left text-2xl md:text-4xl text-slate-600 my-7 mr-auto"><span class="text-orange-400">Contact</span> Us</h1>
        <!-- Firstname and Lastname -->
        <div class="flex flex-row justify-center items-center gap-4 max-sm:flex-wrap">
            <div class="w-full">
                <label for="firstname" class="text-slate-600">First Name</label>
                <input formControlName="firstName" type="text" id="firstname" name="firstname"
                    class="p-2 bg-slate-50 border focus:ring focus:outline-none rounded-xl ring-orange-400 w-full">
            </div>
            <div class="w-full">
                <label for="lastname" class="text-slate-600">Last Name</label>
                <input formControlName="lastName" type="text" id="lastname" name="lastname"
                    class="p-2 bg-slate-50 border focus:ring focus:outline-none rounded-xl ring-orange-400 w-full">
            </div>
        </div>

        <!-- E-mail and Phone -->
        <div class="flex flex-row justify-center items-center gap-4 max-sm:flex-wrap w-full">
            <div class="w-full">
                <label for="email" class="text-slate-600">E-mail</label>
                <input formControlName="email" type="text" id="email" name="email"
                    class="p-2 bg-slate-50 border focus:ring focus:outline-none rounded-xl ring-orange-400 w-full">
            </div>
            <div class="w-full">
                <label for="phone" class="text-slate-600">Phone</label>
                <input formControlName="phone" type="text" id="phone" name="phone"
                    class="p-2 bg-slate-50 border focus:ring focus:outline-none rounded-xl ring-orange-400 w-full">
            </div>
        </div>

        <!-- Query Section -->
        <div class="flex flex-row justify-center items-center w-full">
            <div class="w-full">
                <label for="query" class="text-slate-600">Your Query</label>
                <textarea formControlName="query" id="query" name="query" cols="100" rows="2" type="text"
                    class="p-2 bg-slate-50 border focus:ring focus:outline-none rounded-xl ring-orange-400 w-full"></textarea>
            </div>
        </div>

        <!-- Send Button -->
        <div class="flex flex-row justify-between items-center w-full flex-wrap h-max">
            <button type="submit"
                class="p-2 text-lg px-8 border-2 border-orange-400 text-[#122e44] rounded-xl hover:bg-orange-400 hover:text-white font-bold transition-all duration-300 font-[Oswald] tracking-widest pb-3">Send Query</button>
            <div class="h-full w-fit flex justify-center items-center">

                <h1 [ngClass]="{'hidden': completed!=='success'}" class="text-green-700 both-md:pb-0 max-lg:pb-5">Your Query has been Sent Successfully</h1>

                <h1 [ngClass]="{'hidden': completed!=='failed'}" class="text-red-700 both-md:pb-0 max-lg:pb-5">Can't Send Query Because of internal problem</h1>

            </div>
        </div>
    </form>

    <!-- Map Section -->
    <div class="w-full h-full flex justify-center items-center col-span-5 max-lg:mt-6">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d229.2571043809712!2d79.9371030644297!3d23.166051060816667!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3981ae0df110f4c5%3A0x35910fd08ecd67be!2sReady%20Go%20Travels!5e0!3m2!1sen!2sin!4v1645431175900!5m2!1sen!2sin"
            loading="lazy" class="border-none w-full h-full rounded-2xl"></iframe>
    </div>

</div>

<!-- Email, Phone, and Location Section -->
<div class="-translate-y-1 w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 px-5 sm:px-8 md:px-16 lg:px-32 justify-items-center">

    <!-- Phone Detail -->
    <div class="flex justify-center items-center max-md:border-b md:border-l flex-col col-span-1 gap-4 w-full h-32">
        <fa-icon [icon]="faPhone" class="rotate-90 text-orange-400 text-2xl"></fa-icon>
        <div class="flex justify-center items-center flex-col">
            <a href="tel:7869966411" class="text-slate-800 font-sans font-extralight hover:text-orange-400 transition-colors duration-150">+91-7869966411</a>
            <a href="tel:9424627524" class="text-slate-600 font-sans font-extralight hover:text-orange-400 transition-colors duration-150">+91-9424627524</a>
        </div>
    </div>

    <!-- Email Detail -->
    <div class="flex justify-center items-center max-md:border-b md:border-l flex-col col-span-1 gap-4 w-full h-32 both-md:border-r">
        <fa-icon [icon]="faEnvelope" class="text-orange-400 text-2xl"></fa-icon>
        <a href="mailto:readygotravels@gmail.com" class="text-slate-800 font-sans font-extralight hover:text-orange-400 transition-colors duration-150">readygotravels@gmail.com</a>
    </div>

    <!-- Location Detail -->
    <div class="flex justify-center items-center max-md:border-b md:border-l md:border-r both-md:col-span-2 both-md:w-[50%] flex-col col-span-1 gap-4 w-full h-32">
        <fa-icon [icon]="faLocationArrow" class="text-orange-400 text-2xl"></fa-icon>
        <a href="#" class="text-slate-800 font-sans font-extralight hover:text-orange-400 transition-colors duration-150">22, 1 Flr, Center Plaza, Jabalpur</a>
    </div>

</div>