<h1 class="text-3xl text-center md:ml-[220px] mt-4"><span class="text-orange-400">Customers</span> Query</h1>
<div *ngIf="newQueryExist; else notExistNew" class="md:ml-[220px] grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 max-sm:justify-items-center px-5 gap-6 mt-10">
    <div *ngFor="let query of newQuery">
        <div style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;" class="rounded-2xl p-4 flex justify-between flex-col max-sm:w-[350px] relative">
            <div>
                <h1 class="text-base text-slate-800 border-b-2"><span class="text-orange-600">Name:</span> {{query.firstName}} {{query.lastName}}</h1>
                <a href="mailto:{{query.email}}" class="text-base text-slate-800 border-b-2 block"><span class="text-orange-600">Email:</span> {{query.email}}</a>
                <a href="tel:+91{{query.phone}}" class="text-base text-slate-800 border-b-2 block"><span class="text-orange-600">Phone:</span> {{query.phone}}</a>
                <h1 class="text-base text-slate-800 border-b-2"><span class="text-orange-600">Date:</span> {{query.date}}</h1>
                <h1 class="text-base text-slate-800 border-b-2"><span class="text-orange-600">Status:</span> {{query.status | uppercase}}</h1>
                <h1 class="text-base text-slate-800 border-b-2"><span class="text-orange-600">Query:</span> {{query.query}}</h1>
            </div>
            <form #adminQueryUpdate="ngForm" class="flex justify-between items-center flex-row mt-4" (ngSubmit)="updateQuery(adminQueryUpdate.value)">
                <input [(ngModel)]="query.id" name="id" type="text" class="hidden" [value]="query.id">
                <select ngModel name="status" id="status" class="bg-white ">
                    <option value="">--Select--</option>
                    <option value="replied">Replied</option>
                    <option value="converted">Converted</option>
                    <option value="closed">Closed</option>
                </select>
                <button class="p-2 border-2 text-xs border-orange-400 rounded-xl hover:bg-orange-400 hover:text-white font-bold transition-colors duration-200">Submit</button>
            </form>
            <div class="text-sm rounded-md bg-blue-600 text-white absolute -top-3 -right-3 p-1 animate-bounce" [ngClass]="{'hidden': query.status!=='new'}">NEW</div>
        </div>
    </div>
</div>
<ng-template #notExistNew>
    <h1 class="text-center">No Query related to New Query</h1>
</ng-template>

<h1 class="text-3xl text-center md:ml-[220px] mt-4"><span class="text-orange-400">Replied</span> Query</h1>
<div *ngIf="repliedQueryExist; else notExistReplied" class="md:ml-[220px] grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 max-sm:justify-items-center px-5 gap-6 mt-10">
    <div *ngFor="let query of repliedQuery">
        <div style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;" class="rounded-2xl p-4 flex justify-between flex-col max-sm:w-[350px] relative">
            <div>
                <h1 class="text-base text-slate-800 border-b-2"><span class="text-orange-600">Name:</span> {{query.firstName}} {{query.lastName}}</h1>
                <a href="mailto:{{query.email}}" class="text-base text-slate-800 border-b-2 block"><span class="text-orange-600">Email:</span> {{query.email}}</a>
                <a href="tel:+91{{query.phone}}" class="text-base text-slate-800 border-b-2 block"><span class="text-orange-600">Phone:</span> {{query.phone}}</a>
                <h1 class="text-base text-slate-800 border-b-2"><span class="text-orange-600">Date:</span> {{query.date}}</h1>
                <h1 class="text-base text-slate-800 border-b-2"><span class="text-orange-600">Status:</span> {{query.status | uppercase}}</h1>
                <h1 class="text-base text-slate-800 border-b-2"><span class="text-orange-600">Query:</span> {{query.query}}</h1>
            </div>
            <form #adminQueryUpdate="ngForm" class="flex justify-between items-center flex-row mt-4" (ngSubmit)="updateQuery(adminQueryUpdate.value)">
                <input [(ngModel)]="query.id" name="id" type="text" class="hidden" [value]="query.id">
                <select ngModel name="status" id="status" class="bg-white ">
                    <option value="">--Select--</option>
                    <option value="replied">Replied</option>
                    <option value="converted">Converted</option>
                    <option value="closed">Closed</option>
                </select>
                <button class="p-2 border-2 text-xs border-orange-400 rounded-xl hover:bg-orange-400 hover:text-white font-bold transition-colors duration-200">Submit</button>
            </form>
            <div class="text-sm rounded-md bg-blue-600 text-white absolute -top-3 -right-3 p-1 animate-bounce" [ngClass]="{'hidden': query.status!=='new'}">NEW</div>
        </div>
    </div>
</div>
<ng-template #notExistReplied>
    <h1 class="text-center">No Query related to Replied Query</h1>
</ng-template>


<h1 class="text-3xl text-center md:ml-[220px] mt-4"><span class="text-orange-400">Converted</span> Query</h1>
<div *ngIf="convertedQueryExist; else notExistConverted" class="md:ml-[220px] grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 max-sm:justify-items-center px-5 gap-6 mt-10">
    <div *ngFor="let query of convertedQuery">
        <div style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;" class="rounded-2xl p-4 flex justify-between flex-col max-sm:w-[350px] relative">
            <div>
                <h1 class="text-base text-slate-800 border-b-2"><span class="text-orange-600">Name:</span> {{query.firstName}} {{query.lastName}}</h1>
                <a href="mailto:{{query.email}}" class="text-base text-slate-800 border-b-2 block"><span class="text-orange-600">Email:</span> {{query.email}}</a>
                <a href="tel:+91{{query.phone}}" class="text-base text-slate-800 border-b-2 block"><span class="text-orange-600">Phone:</span> {{query.phone}}</a>
                <h1 class="text-base text-slate-800 border-b-2"><span class="text-orange-600">Date:</span> {{query.date}}</h1>
                <h1 class="text-base text-slate-800 border-b-2"><span class="text-orange-600">Status:</span> {{query.status | uppercase}}</h1>
                <h1 class="text-base text-slate-800 border-b-2"><span class="text-orange-600">Query:</span> {{query.query}}</h1>
            </div>
            <div class="text-sm rounded-md bg-blue-600 text-white absolute -top-3 -right-3 p-1 animate-bounce" [ngClass]="{'hidden': query.status!=='new'}">NEW</div>
        </div>
    </div>
</div>
<ng-template #notExistConverted>
    <h1 class="text-center">No Query related to Converted Query</h1>
</ng-template>


<h1 class="text-3xl text-center md:ml-[220px] mt-4"><span class="text-orange-400">Closed</span> Query</h1>
<div *ngIf="closedQueryExist; else notExistClosed" class="md:ml-[220px] grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 max-sm:justify-items-center px-5 gap-6 mt-10">
    <div *ngFor="let query of closedQuery">
        <div style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;" class="rounded-2xl p-4 flex justify-between flex-col max-sm:w-[350px] relative">
            <div>
                <h1 class="text-base text-slate-800 border-b-2"><span class="text-orange-600">Name:</span> {{query.firstName}} {{query.lastName}}</h1>
                <a href="mailto:{{query.email}}" class="text-base text-slate-800 border-b-2 block"><span class="text-orange-600">Email:</span> {{query.email}}</a>
                <a href="tel:+91{{query.phone}}" class="text-base text-slate-800 border-b-2 block"><span class="text-orange-600">Phone:</span> {{query.phone}}</a>
                <h1 class="text-base text-slate-800 border-b-2"><span class="text-orange-600">Date:</span> {{query.date}}</h1>
                <h1 class="text-base text-slate-800 border-b-2"><span class="text-orange-600">Status:</span> {{query.status | uppercase}}</h1>
                <h1 class="text-base text-slate-800 border-b-2"><span class="text-orange-600">Query:</span> {{query.query}}</h1>
            </div>
            <form #adminQueryUpdate="ngForm" class="flex justify-between items-center flex-row mt-4" (ngSubmit)="updateQuery(adminQueryUpdate.value)">
                <input [(ngModel)]="query.id" name="id" type="text" class="hidden" [value]="query.id">
                <select ngModel name="status" id="status" class="bg-white ">
                    <option value="">--Select--</option>
                    <option value="replied">Replied</option>
                    <option value="converted">Converted</option>
                    <option value="closed">Closed</option>
                </select>
                <button class="p-2 border-2 text-xs border-orange-400 rounded-xl hover:bg-orange-400 hover:text-white font-bold transition-colors duration-200">Submit</button>
            </form>
            <div class="text-sm rounded-md bg-blue-600 text-white absolute -top-3 -right-3 p-1 animate-bounce" [ngClass]="{'hidden': query.status!=='new'}">NEW</div>
        </div>
    </div>
</div>
<ng-template #notExistClosed>
    <h1 class="text-center">No Query related to Closed Query</h1>
</ng-template>