<!-- Hero Section -->
<div class="h-[25rem] mx-2 rounded-xl mt-1 overflow-hidden">
    <div class="h-full blur-sm -z-50" style="background: url(../../../assets/front.jpeg) center;"></div>
    <div class="flex justify-center items-center h-full w-full">
        <h1 class="text-4xl md:text-5xl lg:text-6xl text-white text-center -translate-y-[25rem] z-10">About ReadyGo Travels</h1>
    </div>
</div>

<!-- About Section -->
<div class="grid grid-cols-1 lg:grid-cols-11 mx-2 md:mx-5 lg:mx-32 mt-10">
    <div class="col-span-1 lg:col-span-7 flex justify-center flex-col order-2 lg:order-1">
        <h2 class="text-center font-extrabold my-2 text-2xl">ReadyGo Travels - Best Travel Site for You..</h2>

        <h4 class="text-xl font-bold my-2">Greetings From ReadyGo Travels!!!!!!!!!!</h4>
        <p class="pl-6 my-2">We are very excited to introduce Our Company <span>" READYGO TRAVELS "</span> as the one stop
            provider for all your travel needs and requirements. We label ourselves as leading, innovative,
            and highly efficient.</p>
        <p class="pl-6 my-2">Established in 2010, and with over 15 years of experience in Travel & Tourism industry, we have
            built on our strengths to become a very successful company in Jabalpur , India. Today, we have
            made a name for itself as a brand signifying quality and reliability, a benchmark for people
            wishing to travel in full freedom and at the same time be able to rely on constant and discreet
            assistance. We strive to be the most reliable Tour Operator in Jabalpur and we make sure you get
            the best of service at the most cost-effective rate. We draw upon our vast experience to provide
            our customers with the best possible services.</p>
        <p class="pl-6 my-2"><span>" READYGO TRAVELS "</span> is a one stop enterprise that offer the complete range of
            travel related service, Superior Knowledge, efficient planning and the ability to anticipate and
            resolve potential problem along the way, are reasons behind our Success.</p>


        <h4 class="text-xl font-bold my-2">OUR SPECIALIZATION In - Visa, Fix Departures & FIT</h4>

        <h5 class="font-bold my-2">International :</h5>
        <p class="pl-6 my-2">UK – Europe, USA, Australia, New Zealand, Dubai, Singapore, Malaysia, Thailand Nepal SriLanka & Maldives</p>

        <h5 class="font-bold my-2">Domestic :</h5>
        <p class="pl-6 my-2">Uttarakhand, Himachal, Rajasthan, Kerala, Leh, Jammu and Kashmir, North East, Bhutan, Andaman and Nicobar,
            MP, South,Seven Sister, Maharashtra, Goa & New Delhi</p>


        <h4 class="text-xl font-bold my-2">OUR VALUES</h4>
        <ol class="pl-6 list-disc my-2">
            <li class="my-1"><span class="font-semibold">Customer satisfaction</span> - Meeting clients’ expectations by delivering on our promises.</li>
            <li class="my-1"><span class="font-semibold">Integrity</span> - We are honest, truthful, and accurate in our actions.</li>
            <li class="my-1"><span class="font-semibold">Reliability</span> - we are able to perform and maintain our functions in routine circumstances,
                as well as hostile or unexpected circumstances. With our strong experience we are able to offer travel
                solutions in every corner of our wonderful planet.</li>
            <li class="my-1"><span class="font-semibold">Customer Service</span> - Our customer service desk is open from 11 AM to 7 PM Monday through
                Saturday in order to answer any customer queries.</li>
        </ol>

        <div class="my-2">
            <h5 class="my-2">We label ourselves as leading, innovative, and highly efficient and
                look forward to demonstrating these qualities at the earliest possible chance.</h5>
            <h5 class="my-2">*Please advise us for any more assistance on the same</h5>
        </div>
    </div>
    <div class="col-span-1 lg:col-span-4 p-3 order-1 lg:order-2 flex justify-center items-center lg:items-start lg:justify-start">
        <div class="bg-white shadow-3xl p-3 sticky top-8 rounded-2xl max-w-sm lg:max-w-none">
            <img src="assets/deepak.jpg" alt="Deepak" class="object-fill rounded-2xl">
            <div class="flex justify-center items-center flex-col m">
                <h1 class="text-lg sm:text-xl lg:text-2xl text-slate-800">Deepak Sehgal</h1>
                <p class="text-xs sm:text-base lg:text-base">Founder of ReadyGo Travels</p>
            </div>
        </div>
    </div>
</div>

<!-- Certificates Section -->
<div class="flex justify-center items-center flex-col mt-10">
    <h1 class="text-2xl my-10 font-bold">Our Certificates</h1>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 mx-2 md:mx-5 lg:mx-32">
        <div class="bg-white p-1 rounded-2xl flex justify-center items-center shadow-3xl cursor-pointer">
            <img src="assets/certificates/certificate1.jpg" alt="certificate">
        </div>
        <div class="bg-white p-1 rounded-2xl flex justify-center items-center shadow-3xl cursor-pointer">
            <img src="assets/certificates/certificate2.jpg" alt="certificate">
        </div>
    </div>
</div>