<!-- Hero Section -->
<div class="h-[12rem] md:h-[20rem] lg:h-[20rem] relative w-full flex justify-start items-center bg-[url('assets/hero-section.jpg')] bg-cover bg-bottom bg-no-repeat before:content-[''] before:bg-[url('assets/cloud.png')] before:absolute before:-bottom-[5.5rem] before:left-0 before:w-full before:h-[20rem] before:bg-no-repeat before:bg-bottom before:overflow-visible">
    <div class="flex flex-col justify-center items-start pl-4 md:pl-20 overflow-hidden">
        <h1 data-aos="fade-down" data-aos-offset="0" class="text-white text-5xl max-sm:text-2xl max-md:text-4xl max-sm:text-center font-bold md:mt-5">About Us</h1>
        <div data-aos="fade-down" data-aos-delay="250" data-aos-offset="0" class="flex flex-row justify-center items-center mt-2 gap-3 text-xl">
            <fa-icon  class="text-white -rotate-[38deg]" [icon]="faSlash"></fa-icon>
            <h1 class="text-white">ReadyGo Travels</h1>
        </div>
    </div>
</div>


<!-- About Section -->
<div class="grid grid-cols-1 lg:grid-cols-7 px-5 sm:px-8 md:px-16 lg:px-32 -translate-y-1 mt-20 w-full justify-items-center lg:gap-10">

    <!-- About Content -->
    <div class="col-span-5 w-full max-lg:order-2">
        <h1 class="text-3xl font-bold">Greetings From ReadyGo Travels !</h1>
        <p class="mt-4 ml-4 text-slate-700 text-justify">We are very excited to introduce Our Company " READYGO TRAVELS " as the one stop provider for all your travel needs and requirements. We label ourselves as leading, innovative, and highly efficient.</p>
        <p class="mt-4 ml-4 text-slate-700 text-justify">Established in 2010, and with over 15 years of experience in Travel & Tourism industry, we have built on our strengths to become a very successful company in Jabalpur , India. Today, we have made a name for itself as a brand signifying quality and reliability, a benchmark for people wishing to travel in full freedom and at the same time be able to rely on constant and discreet assistance. We strive to be the most reliable Tour Operator in Jabalpur and we make sure you get the best of service at the most cost-effective rate. We draw upon our vast experience to provide our customers with the best possible services.</p>
        <p class="mt-4 ml-4 text-slate-700 text-justify"><span class="font-bold text-black">" READYGO TRAVELS "</span> is a one stop enterprise that offer the complete range of travel related service, Superior Knowledge, efficient planning and the ability to anticipate and resolve potential problem along the way, are reasons behind our Success.</p>


        <h1 class="text-3xl mt-8 font-bold">OUR SPECIALIZATION In - Visa, Fix Departures & FIT</h1>

        <h3 class="text-xl font-bold mt-4">International :</h3>
        <p class="text-slate-700 mt-4 ml-4 text-justify">UK – Europe, USA, Australia, New Zealand, Dubai, Singapore, Malaysia, Thailand Nepal SriLanka & Maldives</p>

        <h3 class="text-xl font-bold mt-4">Domestic :</h3>
        <p class="text-slate-700 mt-4 ml-4 text-justify">Uttarakhand, Himachal, Rajasthan, Kerala, Leh, Jammu and Kashmir, North East, Bhutan, Andaman and Nicobar, MP, South,Seven Sister, Maharashtra, Goa & New Delhi</p>


        <h1 class="text-3xl mt-8 font-bold">OUR VALUES</h1>
        <ul class="list-disc mt-4 text-slate-700 ml-8 text-justify">
            <li class="mt-3"><span class="font-bold text-black">Customer satisfaction</span> - Meeting clients’ expectations by delivering on our promises.</li>
            <li class="mt-3"><span class="font-bold text-black">Integrity</span> - We are honest, truthful, and accurate in our actions.</li>
            <li class="mt-3"><span class="font-bold text-black">Reliability</span> - we are able to perform and maintain our functions in routine circumstances, as well as hostile or unexpected circumstances. With our strong experience we are able to offer travel solutions in every corner of our wonderful planet.</li>
            <li class="mt-3"><span class="font-bold text-black">Customer Service</span> - Our customer service desk is open from 11 AM to 7 PM Monday through Saturday in order to answer any customer queries.</li>
        </ul>

        <p class="text-slate-700 mt-10 text-justify">We label ourselves as leading, innovative, and highly efficient and look forward to demonstrating these qualities at the earliest possible chance.</p>
        <p class="text-slate-700 mt-4 text-justify">*Please advise us for any more assistance on the same</p>
    </div>

    <!-- Image -->
    <div class="col-span-2 w-full max-lg:flex max-lg:justify-center max-lg:items-center max-lg:order-1 max-lg:mb-10">
        <div class="lg:sticky lg:top-20 h-fit flex justify-center items-center w-fit max-lg:relative flex-col">
            <img src="assets/deepak.jpg" alt="Deepak Sehgal" class="rounded-xl max-lg:w-56 lg:w-full">
            <h1 class="mr-auto text-slate-600">Deepak Sehgal</h1>
            <h1 class="mr-auto text-slate-600">Founder</h1>
            <div class="absolute bottom-16 right-5 max-lg:bottom-14 max-lg:right-2 rounded-full h-14 w-14 bg-orange-400 flex justify-center items-center text-4xl text-white overflow-hidden">
                <a href="https://wa.me/qr/QMDJV42W3XG6E1" target="_blank"><fa-icon [icon]="faWhatsapp"></fa-icon></a>
            </div>
        </div>
    </div>

</div>


<!-- Certificates Section -->
<h1 class="text-5xl font-bold font-[KaushanScript] mx-auto w-fit mt-16 pb-2">Certificates</h1>
<div class="grid grid-cols-1 md:grid-cols-2 mx-5 sm:mx-8 md:mx-16 lg:mx-32 gap-10   max-md:justify-items-center mt-10">

    <div class=" h-fit w-fit mt overflow-visible flex flex-col gap-10 md:ml-auto">
        <img src="assets/certificates/certificate1.jpg" alt="Certificates" class="w-80 md:hover:scale-[1.7] transition-all duration-200 shadow-3xl">
        <img src="assets/certificates/certificate2.jpg" alt="Certificates" class="w-80 md:hover:scale-[1.7] transition-all duration-200 shadow-3xl">
    </div>
    <div class="bg-white shadow-3xl h-fit w-fit mt overflow-visible">
        <img src="assets/certificates/certificate3.jpg" alt="Certificates" class="w-80 md:hover:scale-150 transition-all duration-150">
    </div>

</div>