.img {
  border-radius: 10px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: black !important;
}
/* -------------------------------- Parallex -------------------------------- */
.parallax-window {
  background-color: rgba(216, 216, 216, 0.144);
}
/* ------------------------------- Cards Home ------------------------------- */
.card-img-top {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.cards {
  position: relative;
  margin-top: 35px;
  width: auto;
  height: 190px;
  border-radius: 15px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  padding: 15px 30px;
  background-color: rgb(255, 255, 255);
}
.cards:hover {
  height: 300px;
}
.imgBox {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-60px);
  z-index: 100;
  text-align: center;
}
.imgBox h4 {
  z-index: 100;
  font-weight: 600;
  text-align: center;
  font-size: 1.6rem;
  margin-top: 1rem;
}
.imgBox img {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
}
.content {
  transform: translateY(-200px);
  opacity: 0;
  transition: 0.3s;
  text-align: center;
}
.cards:hover > .content {
  opacity: 1;
  transform: translateY(-100px);
}
#contact {
  display: flex;
  justify-content: start;
  align-items: center;
}
#social {
  display: flex;
  justify-content: end;
  align-items: center;
}
#brand {
  display: none;
}
@media only screen and (max-width: 1000px) {
  #contact {
    display: none;
  }
  #social {
    justify-content: center;
  }
  #brand {
    display: block;
  }
}
/* ----------------------------- Navigation Bar ----------------------------- */
.navigation {
  display: flex;
  margin: 0%;
  padding: 0%;
  align-items: center;
  justify-content: center;
  background-color: grey;
  margin: 0%;
  border-radius: 16px;
  height: 50px;
}
.navigation ul {
  margin: 0%;
  padding: 0%;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  flex-direction: row;
  background-color: grey;
}
.navigation ul li {
  position: relative;
  line-height: 40px;
}
.navigation ul li a {
  text-decoration: none;
  color: white;
}
.navigation ul li ul {
  position: absolute;
  width: 150px;
  padding: 10px;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  display: block;
  transform: translateY(-50px);
  opacity: 0;
  top: 100%;
  left: 0%;
}
.navigation ul li ul li {
  line-height: 33px;
}
.dropdown-bar:hover > ul {
  transform: translateY(0px);
  visibility: visible;
  opacity: 1;
}
#click {
  display: none;
}
.crossPar {
  display: none;
}
.navigation i {
  display: none;
}
.cross {
  display: none;
}
.brand {
  display: none;
}
.active {
  right: 0%;
}
/* ------------------------ Navigation Bar Responsive ----------------------- */
@media (max-width: 911px) {
  .crossPar {
    display: flex;
    width: 65%;
    height: 50px;
    justify-content: end;
    align-items: flex-start;
  }
  .cross {
    display: inline-block;
    text-align: end;
  }
  .navigation {
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    align-items: center;
    position: relative;
  }
  .navigation i {
    display: inline-block;
    color: white;
    font-size: 30px;
  }
  .navigation .brand {
    display: inline-flex;
    color: white;
    font-weight: 700;
    font-size: 35px;
    text-decoration: none;
  }
  .navigation ul {
    position: fixed;
    width: 100%;
    top: 0.01px;
    right: -100%;
    height: 100vh;
    flex-direction: column;
    transition: all 0.5s ease-in-out;
  }
  .navigation ul li {
    line-height: 50px;
    position: relative;
    cursor: pointer;
  }
  .navigation ul li ul {
    text-align: center;
    visibility: hidden;
    position: absolute;
    height: auto;
    background-color: rgb(0, 0, 0);
    z-index: 100000;
    left: -110%;
  }
  #foreign{
    left: -25%;
  }
  #domestic{
    left: -18%;
  }
  .navigation ul li:focus > ul{
    visibility: visible;
  }
  .navigation ul li ul li {
    width: 100%;
  }
}
