<div class="bg-[#122e44] w-full text-white mt-32">

    <!-- Navigation and Social Media Content -->
    <div class="flex justify-between items-center w-full flex-row px-5 md:px-20 max-lg:flex-wrap">
        <!-- Navigations -->
        <div class="flex justify-start max-lg:justify-center max-lg:w-full items-center my-6 gap-8 flex-wrap">
            <a routerLink="/" class="font-[Oswald]">Home</a>
            <a routerLink="/" class="font-[Oswald]">About</a>
            <a routerLink="/" class="font-[Oswald]">Cab Booking</a>
            <a routerLink="/" class="font-[Oswald]">Domestic Tours</a>
            <a routerLink="/" class="font-[Oswald]">Flight Booking</a>
            <a routerLink="/" class="font-[Oswald]">Foreign Tours</a>
            <a routerLink="/" class="font-[Oswald]">Rail Booking</a>
            <a routerLink="/" class="font-[Oswald]">Contact</a>
        </div>
        <!-- Social Media -->
        <div class="flex justify-end max-lg:justify-center items-center my-6 gap-5 text-white text-2xl max-lg:w-full">
            <a href="" target="_blank"><fa-icon [icon]="faFacebook"></fa-icon></a>
            <a href="" target="_blank"><fa-icon [icon]="faInstagram"></fa-icon></a>
            <a href="" target="_blank"><fa-icon [icon]="faFacebookMessenger"></fa-icon></a>
            <a href="" target="_blank"><fa-icon [icon]="faTwitter"></fa-icon></a>
            <a href="" target="_blank"><fa-icon [icon]="faLinkedin"></fa-icon></a>
        </div>
    </div>

    <!-- Logo and CopyWrite Content -->
    <div class="border-t border-slate-500 w-[90%] mx-auto mb-4"></div>
    <div class="flex justify-between items-center w-full flex-row px-5 md:px-20 max-lg:flex-wrap">
        <!-- Logo -->
        <div class="flex justify-start max-lg:justify-center items-center max-lg:w-full">
            <img src="assets/readygotravel.png" alt="ReadyGo Travels" class="w-40">
        </div>
        <!-- CopyWrite -->
        <div class="flex justify-end max-lg:justify-center items-center max-lg:w-full max-lg:mt-5 mb-4">
            <h1 class="text-slate-300 text-sm text-center">© 2022 All Rights Reserved. Terms of Use and Privacy Policy.</h1>
        </div>
    </div>

</div>