<!-- Hero Section -->
<div class="h-[12rem] md:h-[20rem] lg:h-[20rem] relative w-full flex justify-start items-center bg-[url('assets/images/jammukashmir-1.jpeg')] bg-cover bg-center bg-no-repeat before:content-[''] before:bg-[url('assets/cloud.png')] before:absolute before:-bottom-[5.5rem] before:left-0 before:w-full before:h-[20rem] before:bg-no-repeat before:bg-bottom before:overflow-visible">
    <div class="flex flex-col justify-center items-start pl-4 md:pl-20 overflow-hidden">
        <h1 data-aos="fade-down" data-aos-offset="0" class="text-white text-5xl max-sm:text-2xl max-md:text-4xl max-sm:text-center font-bold md:mt-5">Tour Packages</h1>
        <div data-aos="fade-down" data-aos-delay="250" data-aos-offset="0" class="flex flex-row justify-center items-center mt-2 gap-3 text-xl">
            <fa-icon  class="text-white -rotate-[38deg]" [icon]="faSlash"></fa-icon>
            <h1 class="text-white">ReadyGo Travels</h1>
        </div>
    </div>
</div>


<!-- Tours Section -->
<h1 class="text-center text-3xl font-bold mt-10 max-sm:text-2xl -translate-y-1">Our Best Tours</h1>
<p class="text-center text-slate-400 mx-5 max-sm:text-sm sm:mx-8 md:mx-32 lg:mx-[20%] text-base mt-5 -translate-y-1">Discovery Tour provides a variety of great tours to travelers throughout the world. We offer top deals at affordable prices and we can create the most unforgettable holiday for you!</p>
<h1 class="text-left text-3xl font-bold mt-10 max-sm:text-2xl -translate-y-1 mx-5 sm:mx-8 md:mx-16 lg:mx-32"><span class="text-orange-500">Domestic</span> Tours</h1>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 mx-5 sm:mx-8 md:mx-16 lg:mx-32 gap-10 mt-10 justify-items-center -translate-y-1 overflow-hidden p-2">

    <!-- Tour Cards -->
    <!-- Domestic Tours -->
    <a href="/tours/domestic/{{domestic.name}}" data-aos="fade-right" *ngFor="let domestic of domesticPackages" class="flex justify-center items-center flex-col w-full shadow-3xl rounded-2xl h-fit bg-white max-md:max-w-sm" (mouseover)="hoverMe(domestic.name)" (mouseout)="hoverMe(null)">
        <div class="w-[85%] mt-7 rounded-2xl overflow-hidden">
            <img src="{{domestic.pic}}" alt="{{domestic.name}}" class="w-full object-cover rounded-2xl transition-all duration-300" [ngClass]="{'scale-110': cardHover===domestic.name}">
        </div>
        <div class="bg-white flex justify-center items-center py-2 px-4 gap-4 rounded-xl shadow-3xl -translate-y-4 text-slate-600">
            <fa-icon [icon]="faWifi"></fa-icon>
            <fa-icon [icon]="faHotel"></fa-icon>
            <fa-icon [icon]="faCar"></fa-icon>
            <fa-icon [icon]="faUtensils"></fa-icon>
        </div>
        <div class="flex justify-center items-start px-4 flex-col">
            <h1 class="text-center mx-auto text-3xl font-[KaushanScript]">{{domestic.name}}</h1>
        </div>
        <div class="border-t border-gray-300 w-[85%] pb-5 mt-3">
            <h1 class="mx-auto pt-5 text-center text-slate-800">Starting From {{domestic.price}} Rs. per person.</h1>
        </div>
    </a>

</div>



<h1 class="text-left text-3xl font-bold mt-10 max-sm:text-2xl -translate-y-1 mx-5 sm:mx-8 md:mx-16 lg:mx-32"><span class="text-orange-500">Foreign</span> Tours</h1>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 mx-5 sm:mx-8 md:mx-16 lg:mx-32 gap-10 mt-10 justify-items-center -translate-y-1 overflow-hidden p-2">

    <!-- Foreign Tours -->
    <a href="/tours/foreign/{{foreign.name}}" data-aos="fade-right" *ngFor="let foreign of foreignPackages" class="flex justify-center items-center flex-col w-full shadow-3xl rounded-2xl h-fit bg-white max-md:max-w-sm" (mouseover)="hoverMe(foreign.name)" (mouseout)="hoverMe(null)">
        <div class="w-[85%] mt-7 rounded-2xl overflow-hidden">
            <img src="{{foreign.pic}}" alt="goa" class="w-full object-cover rounded-2xl transition-all duration-300" [ngClass]="{'scale-110': cardHover===foreign.name}">
        </div>
        <div class="bg-white flex justify-center items-center py-2 px-4 gap-4 rounded-xl shadow-3xl -translate-y-4 text-slate-600">
            <fa-icon [icon]="faWifi"></fa-icon>
            <fa-icon [icon]="faHotel"></fa-icon>
            <fa-icon [icon]="faCar"></fa-icon>
            <fa-icon [icon]="faUtensils"></fa-icon>
        </div>
        <div class="flex justify-center items-start px-4 flex-col">
            <h1 class="text-center mx-auto text-3xl font-[KaushanScript]">{{foreign.name}}</h1>
        </div>
        <div class="border-t border-gray-300 w-[85%] pb-5 mt-3">
            <h1 class="mx-auto pt-5 text-center text-slate-800">Starting From {{foreign.price}} Rs. per person.</h1>
        </div>
    </a>

</div>