<div class="w-[250px] max-md:-translate-x-full h-screen rounded-tr-xl rounded-br-xl bg-orange-400 flex justify-start items-center flex-col px-5 pt-20">
    <a routerLink="reviewquery" class="p-3 bg-orange-500 w-full flex justify-center items-center rounded-md my-3">
        <h1 class="text-xl text-white">Review Query</h1>
    </a>
    <a routerLink="reviewquery" class="p-3 bg-orange-500 w-full flex justify-center items-center rounded-md my-3">
        <h1 class="text-xl text-white">Post Tours</h1>
    </a>
    <button (click)="logout()" class="p-3 bg-orange-500 w-full flex justify-center items-center rounded-md my-3">
        <h1 class="text-xl text-white">Logout</h1>
    </button>
</div>
<router-outlet name="admin"></router-outlet>