<!-- Hero Section -->
<div class="h-[17rem] md:h-[22rem] lg:h-[37rem] relative w-full flex justify-start items-center bg-[url('assets/hero-section.jpg')] bg-cover bg-top bg-no-repeat before:content-[''] before:bg-[url('assets/cloud.png')] before:absolute before:-bottom-[5.2rem] before:left-0 before:w-full before:h-[37rem] before:bg-no-repeat before:bg-bottom before:overflow-visible">
    <div class="flex flex-col justify-center items-start pl-4 md:pl-20 overflow-hidden">
        <h1 data-aos="fade-down" data-aos-duration="1000" data-aos-offset="0" class="text-white text-6xl max-sm:text-2xl max-md:text-4xl max-sm:text-center font-extralight font-sans">Enjoy Your</h1>
        <h1 data-aos="fade-down" data-aos-duration="1000" data-aos-offset="0" data-aos-delay="150" class="text-white text-6xl max-sm:text-2xl max-md:text-4xl max-sm:text-center font-bold md:mt-5">Dream Vacations</h1>

        <!-- Best Tour Button -->
        <a data-aos="fade-down" data-aos-duration="1000" data-aos-offset="0" data-aos-delay="250" routerLink="/" class="md:p-3 p-2 text-sm border-2 border-orange-400 text-white rounded-xl hover:bg-orange-400 hover:text-white font-bold transition-all duration-300 font-[Oswald] tracking-widest md:mt-5 ">FIND YOUR BEST TOUR</a>
    </div>
</div>


<!-- Services Content Section -->
<div class="grid gird-cols-1 md:grid-cols-2 lg:grid-cols-3 mx-5 sm:mx-8 md:mx-16 lg:mx-32 mt-10 -translate-y-1 gap-10 justify-items-center">

    <div class="flex justify-center items-start max-w-sm md:max-w-none">
        <div class="w-10 h-full flex justify-start items-start">
            <fa-icon data-aos="fade-right" [icon]="faPlane" class="-rotate-90 text-3xl text-orange-500"></fa-icon>
        </div>
        <div class="flex w-full justify-start items-start flex-col pl-3">
            <h1 data-aos="fade-left" class="text-2xl md:text-3xl text-slate-800 ">Flight Ticket</h1>
            <p data-aos="fade-left" data-aos-delay="150" class="text-slate-500 mt-2 max-md:text-sm">Vist us and find excellent deals on flight tickets worldwide. Book flight ticket with us at lowest price. Get cheap tickets for domestic & international flight booking.</p>
        </div>
    </div>

    <div class="flex justify-center items-start max-w-sm md:max-w-none">
        <div class="w-10 h-full flex justify-start items-start">
            <fa-icon data-aos="fade-right" [icon]="faHotel" class="text-3xl text-orange-500"></fa-icon>
        </div>
        <div class="flex w-full justify-start items-start flex-col pl-3">
            <h1 data-aos="fade-left" class="text-2xl md:text-3xl text-slate-800 ">Hotel Booking</h1>
            <p data-aos="fade-left" data-aos-delay="150" class="text-slate-500 mt-2 max-md:text-sm">Readygo Travels offers a wide range of luxury, deluxe and budget hotels We will categorize the same as per the ratings you need - be it budget, 3 stars, 4 stars or 5 stars Hotels.</p>
        </div>
    </div>

    <div class="flex justify-center items-start max-w-sm md:max-w-none">
        <div class="w-10 h-full flex justify-start items-start">
            <fa-icon data-aos="fade-right" [icon]="faBook" class="text-3xl text-orange-500"></fa-icon>
        </div>
        <div class="flex w-full justify-start items-start flex-col pl-3">
            <h1 data-aos="fade-left" class="text-2xl md:text-3xl text-slate-800 ">Student Visa</h1>
            <p data-aos="fade-left" data-aos-delay="150" class="text-slate-500 mt-2 max-md:text-sm">Most international students need a student visa to study in the UK. Your student visa will allow you to live and study in the UK throughout your course. The task is very difficult to get fulfilled in the absence of reliable support. We give full support to get Student Visa.</p>
        </div>
    </div>

    <div class="flex justify-center items-start max-w-sm md:max-w-none">
        <div class="w-10 h-full flex justify-start items-start">
            <fa-icon data-aos="fade-right" [icon]="faCar" class="text-3xl text-orange-500"></fa-icon>
        </div>
        <div class="flex w-full justify-start items-start flex-col pl-3">
            <h1 data-aos="fade-left" class="text-2xl md:text-3xl text-slate-800 ">Cab Booking</h1>
            <p data-aos="fade-left" data-aos-delay="150" class="text-slate-500 mt-2 max-md:text-sm">Available Cabs as per your requirements 4-7 seater, AC or non AC. Friendly nature Driver.</p>
        </div>
    </div>

    <div class="flex justify-center items-start max-w-sm md:max-w-none">
        <div class="w-10 h-full flex justify-start items-start">
            <fa-icon data-aos="fade-right" [icon]="faPassport" class="text-3xl text-orange-500"></fa-icon>
        </div>
        <div class="flex w-full justify-start items-start flex-col pl-3">
            <h1 data-aos="fade-left" class="text-2xl md:text-3xl text-slate-800 ">Tourist Visa</h1>
            <p data-aos="fade-left" data-aos-delay="150" class="text-slate-500 mt-2 max-md:text-sm">Readygo Travels is having trained & experienced persons for visa related queries ensuring your - proper documentation to quick and hassle free processing of your Passports / Visa to any countries and many more essential services.</p>
        </div>
    </div>

    <div class="flex justify-center items-start max-w-sm md:max-w-none">
        <div class="w-10 h-full flex justify-start items-start">
            <fa-icon data-aos="fade-right" [icon]="faTrain" class="text-3xl text-orange-500"></fa-icon>
        </div>
        <div class="flex w-full justify-start items-start flex-col pl-3">
            <h1 data-aos="fade-left" class="text-2xl md:text-3xl text-slate-800 ">Rail Booking</h1>
            <p data-aos="fade-left" data-aos-delay="150" class="text-slate-500 mt-2 max-md:text-sm">Instead of waiting or queueing up in lines for hours to book a train tickets, don't worry anymore. Allow us to fix everything for you. Please come to us for hassle free train ticket booking.</p>
        </div>
    </div>

</div>


<!-- Parallax Content -->
<div class="h-32 mt-14 overflow-hidden relative">
    <img parallax src="assets/parallax-img.jpg" [parallaxConfig]="{scale: 1.5}" class="" alt="image">
    <div class="flex justify-center h-32 w-full items-center flex-col md:flex-row absolute top-0 left-0 md:gap-5">
        <h1 data-aos="fade-left" class="font-sans text-white text-lg md:text-2xl">We Provide Only the <span class="font-bold">Best Tours</span></h1>
        <!-- Best Tour Button -->
        <a data-aos="fade-right" routerLink="/" class="md:p-3 p-2 text-sm border-2 border-orange-400 text-white rounded-xl hover:bg-orange-400 hover:text-white font-bold transition-all duration-300 font-[Oswald] tracking-widest max-md:mt-5 max-xsm:hidden">FIND YOUR BEST TOUR</a>
    </div>
</div>


<!-- Tours Section -->
<h1 class="text-center text-3xl font-bold mt-20 max-sm:text-2xl">Our Best Tours</h1>
<p class="text-center text-slate-400 mx-5 max-sm:text-sm sm:mx-8 md:mx-32 lg:mx-[20%] text-base mt-5">Discovery Tour provides a variety of great tours to travelers throughout the world. We offer top deals at affordable prices and we can create the most unforgettable holiday for you!</p>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 mx-5 sm:mx-8 md:mx-16 lg:mx-32 gap-10 mt-10 justify-items-center">

    <!-- Tour Cards -->
    <!-- <div *ngFor="let data of foreignPackages" data-aos="fade-right" class="flex justify-center items-center flex-col w-full shadow-3xl rounded-2xl h-fit bg-white" (mouseover)="hoverMe(data.packageName)" (mouseout)="hoverMe(null)">
        <div class="w-[85%] mt-7 rounded-2xl overflow-hidden">
            <img src="assets/cards/goa.jpg" alt="goa" class="w-full object-cover rounded-2xl transition-all duration-300" [ngClass]="{'scale-110': cardHover===data.packageName}">
        </div>
        <div class="bg-white flex justify-center items-center py-2 px-4 gap-4 rounded-xl shadow-3xl -translate-y-4 text-slate-600">
            <fa-icon [icon]="faWifi"></fa-icon>
            <fa-icon [icon]="faHotel"></fa-icon>
            <fa-icon [icon]="faCar"></fa-icon>
            <fa-icon [icon]="faUtensils"></fa-icon>
        </div>
        <div class="flex justify-center items-start px-4 flex-col">
            <h1 class="text-center mx-auto text-3xl font-[KaushanScript]">{{data.packageName}}</h1>
        </div>
        <div class="border-t border-gray-300 w-[85%] pb-5 mt-3">
            <h1 class="mx-auto pt-5 text-center text-slate-800">Starting From 4,000 Rs. per person.</h1>
        </div>
    </div> -->

    <!-- Tour Cards -->
    <div data-aos="fade-right" class="flex justify-center items-center flex-col w-full shadow-3xl rounded-2xl h-fit bg-white max-md:max-w-sm" (mouseover)="hoverMe(true)" (mouseout)="hoverMe(false)">
        <div class="w-[85%] mt-7 rounded-2xl overflow-hidden">
            <img src="assets/cards/goa.jpg" alt="goa" class="w-full object-cover rounded-2xl transition-all duration-300" [ngClass]="{'scale-110': cardHover}">
        </div>
        <div class="bg-white flex justify-center items-center py-2 px-4 gap-4 rounded-xl shadow-3xl -translate-y-4 text-slate-600">
            <fa-icon [icon]="faWifi"></fa-icon>
            <fa-icon [icon]="faHotel"></fa-icon>
            <fa-icon [icon]="faCar"></fa-icon>
            <fa-icon [icon]="faUtensils"></fa-icon>
        </div>
        <div class="flex justify-center items-start px-4 flex-col">
            <h1 class="text-center mx-auto text-3xl font-[KaushanScript]">Goa</h1>
        </div>
        <div class="border-t border-gray-300 w-[85%] pb-5 mt-3">
            <h1 class="mx-auto pt-5 text-center text-slate-800">Starting From 4,000 Rs. per person.</h1>
        </div>
    </div>

    <!-- Tour Cards -->
    <div data-aos="fade-right" class="flex justify-center items-center flex-col w-full shadow-3xl rounded-2xl h-fit bg-white max-md:max-w-sm" (mouseover)="hoverMe(true)" (mouseout)="hoverMe(false)">
        <div class="w-[85%] mt-7 rounded-2xl overflow-hidden">
            <img src="assets/cards/somnath.jpg" alt="goa" class="w-full object-cover rounded-2xl transition-all duration-300" [ngClass]="{'scale-110': cardHover}">
        </div>
        <div class="bg-white flex justify-center items-center py-2 px-4 gap-4 rounded-xl shadow-3xl -translate-y-4 text-slate-600">
            <fa-icon [icon]="faWifi"></fa-icon>
            <fa-icon [icon]="faHotel"></fa-icon>
            <fa-icon [icon]="faCar"></fa-icon>
            <fa-icon [icon]="faUtensils"></fa-icon>
        </div>
        <div class="flex justify-center items-start px-4 flex-col">
            <h1 class="text-center mx-auto text-3xl font-[KaushanScript]">Gujrat Tour</h1>
        </div>
        <div class="border-t border-gray-300 w-[85%] pb-5 mt-3">
            <h1 class="mx-auto pt-5 text-center text-slate-800">Starting From 4,000 Rs. per person.</h1>
        </div>
    </div>

    <!-- Tour Cards -->
    <div data-aos="fade-right" class="flex justify-center items-center flex-col w-full shadow-3xl rounded-2xl h-fit bg-white max-md:max-w-sm" (mouseover)="hoverMe(true)" (mouseout)="hoverMe(false)">
        <div class="w-[85%] mt-7 rounded-2xl overflow-hidden">
            <img src="assets/cards/london.jpg" alt="goa" class="w-full object-cover rounded-2xl transition-all duration-300" [ngClass]="{'scale-110': cardHover}">
        </div>
        <div class="bg-white flex justify-center items-center py-2 px-4 gap-4 rounded-xl shadow-3xl -translate-y-4 text-slate-600">
            <fa-icon [icon]="faWifi"></fa-icon>
            <fa-icon [icon]="faHotel"></fa-icon>
            <fa-icon [icon]="faCar"></fa-icon>
            <fa-icon [icon]="faUtensils"></fa-icon>
        </div>
        <div class="flex justify-center items-start px-4 flex-col">
            <h1 class="text-center mx-auto text-3xl font-[KaushanScript]">London</h1>
        </div>
        <div class="border-t border-gray-300 w-[85%] pb-5 mt-3">
            <h1 class="mx-auto pt-5 text-center text-slate-800">Starting From 4,000 Rs. per person.</h1>
        </div>
    </div>

    <!-- Tour Cards -->
    <div data-aos="fade-right" class="flex justify-center items-center flex-col w-full shadow-3xl rounded-2xl h-fit bg-white max-md:max-w-sm" (mouseover)="hoverMe(true)" (mouseout)="hoverMe(false)">
        <div class="w-[85%] mt-7 rounded-2xl overflow-hidden">
            <img src="assets/cards/manali.jpg" alt="goa" class="w-full object-cover rounded-2xl transition-all duration-300" [ngClass]="{'scale-110': cardHover}">
        </div>
        <div class="bg-white flex justify-center items-center py-2 px-4 gap-4 rounded-xl shadow-3xl -translate-y-4 text-slate-600">
            <fa-icon [icon]="faWifi"></fa-icon>
            <fa-icon [icon]="faHotel"></fa-icon>
            <fa-icon [icon]="faCar"></fa-icon>
            <fa-icon [icon]="faUtensils"></fa-icon>
        </div>
        <div class="flex justify-center items-start px-4 flex-col">
            <h1 class="text-center mx-auto text-3xl font-[KaushanScript]">Manali</h1>
        </div>
        <div class="border-t border-gray-300 w-[85%] pb-5 mt-3">
            <h1 class="mx-auto pt-5 text-center text-slate-800">Starting From 4,000 Rs. per person.</h1>
        </div>
    </div>

    <!-- Tour Cards -->
    <div data-aos="fade-right" class="flex justify-center items-center flex-col w-full shadow-3xl rounded-2xl h-fit bg-white max-md:max-w-sm" (mouseover)="hoverMe(true)" (mouseout)="hoverMe(false)">
        <div class="w-[85%] mt-7 rounded-2xl overflow-hidden">
            <img src="assets/cards/dubai.jpg" alt="goa" class="w-full object-cover rounded-2xl transition-all duration-300" [ngClass]="{'scale-110': cardHover}">
        </div>
        <div class="bg-white flex justify-center items-center py-2 px-4 gap-4 rounded-xl shadow-3xl -translate-y-4 text-slate-600">
            <fa-icon [icon]="faWifi"></fa-icon>
            <fa-icon [icon]="faHotel"></fa-icon>
            <fa-icon [icon]="faCar"></fa-icon>
            <fa-icon [icon]="faUtensils"></fa-icon>
        </div>
        <div class="flex justify-center items-start px-4 flex-col">
            <h1 class="text-center mx-auto text-3xl font-[KaushanScript]">Dubai</h1>
        </div>
        <div class="border-t border-gray-300 w-[85%] pb-5 mt-3">
            <h1 class="mx-auto pt-5 text-center text-slate-800">Starting From 4,000 Rs. per person.</h1>
        </div>
    </div>

    <!-- Tour Cards -->
    <div data-aos="fade-right" class="flex justify-center items-center flex-col w-full shadow-3xl rounded-2xl h-fit bg-white max-md:max-w-sm" (mouseover)="hoverMe(hell)" (mouseout)="hoverMe(hell)">
        <div class="w-[85%] mt-7 rounded-2xl overflow-hidden">
            <img src="assets/cards/singapore.jpg" alt="goa" class="w-full object-cover rounded-2xl transition-all duration-300" [ngClass]="{'scale-110': cardHover}">
        </div>
        <div class="bg-white flex justify-center items-center py-2 px-4 gap-4 rounded-xl shadow-3xl -translate-y-4 text-slate-600">
            <fa-icon [icon]="faWifi"></fa-icon>
            <fa-icon [icon]="faHotel"></fa-icon>
            <fa-icon [icon]="faCar"></fa-icon>
            <fa-icon [icon]="faUtensils"></fa-icon>
        </div>
        <div class="flex justify-center items-start px-4 flex-col">
            <h1 class="text-center mx-auto text-3xl font-[KaushanScript]">Singapore</h1>
        </div>
        <div class="border-t border-gray-300 w-[85%] pb-5 mt-3">
            <h1 class="mx-auto pt-5 text-center text-slate-800">Starting From 4,000 Rs. per person.</h1>
        </div>
    </div>

</div>


<!-- Second Parallax Content -->
<div class="h-96 overflow-hidden relative mt-14 max-sm:hidden">
    <img parallax [parallaxConfig]="{scale: 1.5}" src="assets/parallax-img-2.jpg" alt="parallax" class="object-cover absolute">
    <div class="flex justify-center items-center absolute top-0 left-0 h-96 w-full flex-col">
        <h1 data-aos="fade-down" class="text-center text-lg md:text-4xl text-white font-sans">Buy a Tour Without</h1>
        <h1 data-aos="fade-down" data-aos-delay="150" class="text-center text-lg md:text-4xl text-white font-bold mt-4">Leaving Your Home</h1>
        <p data-aos="fade-down" data-aos-delay="150" class="text-white text-sm md:text-base font-thin mt-4 px-5 sm:px-8 md:px-16 lg:px-80 text-center">Using our website, you can easily find and book any tour you want. Mobile users will definitely enjoy our app available on all devices.</p>
        <!-- Best Tour Button -->
        <a data-aos="fade-down" data-aos-delay="250" routerLink="/" class="md:p-3 p-2 text-sm border-2 border-orange-400 text-white rounded-xl hover:bg-orange-400 hover:text-white font-bold transition-all duration-300 font-[Oswald] tracking-widest mt-4 ">FIND YOUR BEST TOUR</a>
    </div>
</div>


<!-- Contact Us Section -->
<div class="grid grid-cols-1 lg:grid-cols-12 lg:gap-2 px-5 sm:px-8 md:px-16 lg:px-32 pt-10 relative before:content-[''] before:bg-[url('assets/cloud.png')] before:absolute before:-bottom-14 before:left-0 before:bg-bottom before:h-full before:w-full before:bg-no-repeat before:overflow-visible bg-slate-200 pb-20">
    
    <!-- Contact Part -->
    <form class="flex justify-center items-center flex-col col-span-7 gap-8">
        <h1 class="text-left text-2xl md:text-4xl text-slate-600 my-7 mr-auto"><span class="text-orange-400">Contact</span> Us</h1>
        <!-- Firstname and Lastname -->
        <div class="flex flex-row justify-center items-center gap-4 max-sm:flex-wrap">
            <div class="w-full">
                <label for="firstname" class="text-slate-600">First Name</label>
                <input type="text" id="firstname" name="firstname"
                    class="p-2 bg-slate-50 border focus:ring focus:outline-none rounded-xl ring-orange-400 w-full">
            </div>
            <div class="w-full">
                <label for="lastname" class="text-slate-600">Last Name</label>
                <input type="text" id="lastname" name="lastname"
                    class="p-2 bg-slate-50 border focus:ring focus:outline-none rounded-xl ring-orange-400 w-full">
            </div>
        </div>

        <!-- E-mail and Phone -->
        <div class="flex flex-row justify-center items-center gap-4 max-sm:flex-wrap w-full">
            <div class="w-full">
                <label for="email" class="text-slate-600">E-mail</label>
                <input type="text" id="email" name="email"
                    class="p-2 bg-slate-50 border focus:ring focus:outline-none rounded-xl ring-orange-400 w-full">
            </div>
            <div class="w-full">
                <label for="phone" class="text-slate-600">Phone</label>
                <input type="text" id="phone" name="phone"
                    class="p-2 bg-slate-50 border focus:ring focus:outline-none rounded-xl ring-orange-400 w-full">
            </div>
        </div>

        <!-- Query Section -->
        <div class="flex flex-row justify-center items-center w-full">
            <div class="w-full">
                <label for="query" class="text-slate-600">Your Query</label>
                <textarea id="query" name="query" cols="100" rows="2" type="text"
                    class="p-2 bg-slate-50 border focus:ring focus:outline-none rounded-xl ring-orange-400 w-full"></textarea>
            </div>
        </div>

        <!-- Send Button -->
        <div class="flex flex-row justify-start items-center w-full gap-5">
            <button type="submit"
                class="p-2 text-lg px-8 border-2 border-orange-400 text-[#122e44] rounded-xl hover:bg-orange-400 hover:text-white font-bold transition-all duration-300 font-[Oswald] tracking-widest pb-3">Send
                Query</button>
        </div>
    </form>

    <!-- Map Section -->
    <div class="w-full h-full flex justify-center items-center col-span-5 max-lg:mt-6">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d229.2571043809712!2d79.9371030644297!3d23.166051060816667!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3981ae0df110f4c5%3A0x35910fd08ecd67be!2sReady%20Go%20Travels!5e0!3m2!1sen!2sin!4v1645431175900!5m2!1sen!2sin"
            loading="lazy" class="border-none w-full h-full rounded-2xl"></iframe>
    </div>

</div>

<!-- Email, Phone, and Location Section -->
<div class="-translate-y-1 w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 px-5 sm:px-8 md:px-16 lg:px-32 justify-items-center">

    <!-- Phone Detail -->
    <div class="flex justify-center items-center max-md:border-b md:border-l flex-col col-span-1 gap-4 w-full h-32">
        <fa-icon [icon]="faPhone" class="rotate-90 text-orange-400 text-2xl"></fa-icon>
        <a href="tel:7869966411" class="text-slate-800 font-sans font-extralight hover:text-orange-400 transition-colors duration-150">+91-7869966411</a>
        <a href="tel:9424627524" class="text-slate-600 font-sans font-extralight hover:text-orange-400 transition-colors duration-150">+91-9424627524</a>
    </div>

    <!-- Email Detail -->
    <div class="flex justify-center items-center max-md:border-b md:border-l flex-col col-span-1 gap-4 w-full h-32 both-md:border-r">
        <fa-icon [icon]="faEnvelope" class="text-orange-400 text-2xl"></fa-icon>
        <a href="mailto:readygotravels@gmail.com" class="text-slate-800 font-sans font-extralight hover:text-orange-400 transition-colors duration-150">readygotravels@gmail.com</a>
    </div>

    <!-- Location Detail -->
    <div class="flex justify-center items-center max-md:border-b md:border-l md:border-r both-md:col-span-2 both-md:w-[50%] flex-col col-span-1 gap-4 w-full h-32">
        <fa-icon [icon]="faLocationArrow" class="text-orange-400 text-2xl"></fa-icon>
        <a href="#" class="text-slate-800 font-sans font-extralight hover:text-orange-400 transition-colors duration-150">22, 1 Flr, Center Plaza, Jabalpur</a>
    </div>

</div>