.parallax-window2{
    background-color: rgba(0, 0, 0, 0.384);
    height: 24rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -10;
}
.background{
    background: url(../../../assets/front.jpeg) center center/cover;
    z-index: -100000;
    height: 25rem;
    filter: blur(3px);
}