<!-- Hero Section -->
<div class="parallax-window" data-parallax="scroll" class="h-96 flex justify-center items-center" data-image-src="../../assets/front.jpeg">
    <h1 class="text-6xl text-white">Welcome ReadyGo Travels</h1>
</div>

<!-- Advertizement Cards -->
<div class="grid grid-cols-2 mx-2 md:mx-5 lg:mx-32 gap-3 mt-10">
    <!-- Card -->
    <div class="col-span-2 md:col-span-1 lg:col-span-1 grid grid-cols-5 shadow-2xl border border-slate-200 rounded-2xl p-3">
        <div class="flex justify-center items-center col-span-5 lg:col-span-2">
            <img src="assets/student-cartoon.png" alt="student" class="w-[100px] lg:w-[200px] rounded-full border border-slate-300 lg:rounded-none lg:border-none">
        </div>
        <div class="flex justify-center items-center flex-col col-span-5 lg:col-span-3 p-1">
            <h1 class="text-right lg:text-right text-slate-600 text-4xl">Student Visa</h1>
            <p class=" mt-3 text-xs md:text-sm lg:text-sm text-slate-600">Most international students need a student visa to study in the UK. Your student visa will allow you to live and study in the UK throughout your course. The task is very difficult to get fulfilled in the absence of reliable support. We give full support to get Student Visa.</p>
        </div>
    </div>
</div>
