<!-- Hero Section -->
<div class="h-[12rem] md:h-[20rem] lg:h-[20rem] relative w-full flex justify-start items-center bg-[url('assets/hero-section.jpg')] bg-cover bg-top bg-no-repeat before:content-[''] before:bg-[url('assets/cloud.png')] before:absolute before:-bottom-[5.5rem] before:left-0 before:w-full before:h-[20rem] before:bg-no-repeat before:bg-bottom before:overflow-visible">
    <div class="flex flex-col justify-center items-start pl-4 md:pl-20 overflow-hidden">
        <h1 data-aos="fade-down" data-aos-offset="0" class="text-white text-5xl max-sm:text-2xl max-md:text-4xl max-sm:text-center font-bold md:mt-5">Bank Details</h1>
        <div data-aos="fade-down" data-aos-delay="250" data-aos-offset="0" class="flex flex-row justify-center items-center mt-2 gap-3 text-xl">
            <fa-icon  class="text-white -rotate-[38deg]" [icon]="faSlash"></fa-icon>
            <h1 class="text-white">ReadyGo Travels</h1>
        </div>
    </div>
</div>


<!-- Payments Section -->
<h1 class="text-4xl font-[KaushanScript] max-sm:text-2xl font-bold -translate-y-1 mt-10 mx-auto w-fit">Payment Options</h1>

<!-- Online Section -->
<div class="flex justify-center items-center flex-row flex-wrap -translate-y-1 mt-10 gap-5">
    <a href="" target="_blank"><img src="assets/payment/googlePay.png" alt="googlePay" class="w-24 max-sm:w-16 mr-3 max-sm:mr-3"></a>
    <a href=""><img src="assets/payment/phonePe.png" alt="phonePe" class="w-32 max-sm:w-24"></a>
    <a href=""><img src="assets/payment/upi.png" alt="upi" class="w-28 max-sm:w-16"></a>
</div>

<div class="grid grid-cols-1 md:grid-cols-2 mx-5 sm:mx-8 md:mx-16 lg:mx-32 mt-16 gap-6">

    <!-- Bank Detail -->
    <div class="flex justify-start max-md:justify-center items-center flex-col">
        <h1 class="font-bold max-sm:text-2xl text-4xl text-center md:mr-auto mb-8 max-sm:mb-5">Bank Detail : HDFC Bank</h1>
        <h1 class="text-2xl max-sm:text-base max-sm:text-center md:mr-auto"><span class="font-bold">Account Name</span> : ReadyGo Travels</h1>
        <h1 class="text-2xl max-sm:text-base max-sm:text-center md:mr-auto"><span class="font-bold">Account Number</span> : 02242000010493</h1>
        <h1 class="text-2xl max-sm:text-base max-sm:text-center md:mr-auto"><span class="font-bold">Account Type</span> : Current Account</h1>
        <h1 class="text-2xl max-sm:text-base max-sm:text-center md:mr-auto"><span class="font-bold">IFSC Code</span> : HDFC0000224</h1>
        <h1 class="text-2xl max-sm:text-base max-sm:text-center md:mr-auto"><span class="font-bold">Branch</span> : Gol Bazar, Shahid Smarak, Jabalpur</h1>
    </div>

    <!-- QR Code -->
    <div class="flex justify-center items-center flex-col max-sm:mt-10">
        <h1 class="font-bold text-4xl mb-8 max-sm:mb-5 max-sm:text-2xl">QR Code</h1>
        <img src="assets/payment/qr.jpg" alt="QRCode" class="">
    </div>

</div>