<div class="w-[220px] z-50 max-md:-translate-x-full h-screen rounded-tr-xl rounded-br-xl bg-gray-600 flex justify-start items-center flex-col px-5 pt-20 fixed top-0 left-0 transition-all duration-300" [ngClass]="{'hidden': hidden, 'max-md:translate-x-0': burger}">
    <a routerLink="/admin/YzxtyD4SUw9g64U9TKSVtUvLnFKLjDem6AftGnMh/reviewcontrol" class="p-3 bg-gray-500 w-full flex justify-center items-center rounded-md my-3">
        <h1 class="text-xl text-white">Review Query</h1>
    </a>
    <a routerLink="/admin/YzxtyD4SUw9g64U9TKSVtUvLnFKLjDem6AftGnMh/tourscontrol" class="p-3 bg-gray-500 w-full flex justify-center items-center rounded-md my-3">
        <h1 class="text-xl text-white">Tours</h1>
    </a>
    <a routerLink="/admin/YzxtyD4SUw9g64U9TKSVtUvLnFKLjDem6AftGnMh/tours" class="p-3 bg-gray-500 w-full flex justify-center items-center rounded-md my-3">
        <h1 class="text-xl text-white">Delete/Update</h1>
    </a>
    <button (click)="logout()" class="p-3 bg-gray-500 w-full flex justify-center items-center rounded-md my-3">
        <h1 class="text-xl text-white">Logout</h1>
    </button>
    <div class="absolute top-4 -right-7 md:hidden" (click)="activeNav()">
        <div class="h-1 my-1 w-6 rounded-full bg-gray-600"></div>
        <div class="h-1 my-1 w-6 rounded-full bg-gray-600"></div>
        <div class="h-1 my-1 w-6 rounded-full bg-gray-600"></div>
    </div>
</div>