<h1 class="text-3xl text-center md:ml-[220px] mt-4"><span class="text-orange-400">Post</span> Tour</h1>
<form [formGroup]="postTour" (ngSubmit)="submit()" class="flex justify-center items-center gap-8 md:ml-[220px] px-5 mt-10 flex-col mb-14" >
    <div class="grid grid-cols-1 md:grid-cols-3 flex-col gap-8 w-full">
        <div class="flex justify-center items-center flex-col gap-1">
            <label for="name" class="mr-auto text-slate-700">Package Name:</label>
            <input formControlName="name" type="text" id="name" name="name" class="p-2 bg-slate-50 border focus:ring focus:outline-none rounded-xl ring-orange-400 w-full" required>
        </div>
        <div class="flex justify-center items-center flex-col gap-1">
            <label for="duration" class="mr-auto text-slate-700">Duration:</label>
            <input formControlName="duration" type="text" id="duration" name="duration" class="p-2 bg-slate-50 border focus:ring focus:outline-none rounded-xl ring-orange-400 w-full" required>
        </div>
        <div class="flex justify-center items-center flex-col gap-1">
            <label for="mode" class="mr-auto text-slate-700">Travelling Mode:</label>
            <input formControlName="mode" type="text" id="mode" name="mode" class="p-2 bg-slate-50 border focus:ring focus:outline-none rounded-xl ring-orange-400 w-full" required>
        </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 flex-col gap-8 w-full">
        <div class="flex justify-center items-center flex-col gap-1">
            <label for="price" class="mr-auto text-slate-700">Starting Price: (Per Person):</label>
            <input formControlName="price" type="text" id="price" name="price" class="p-2 bg-slate-50 border focus:ring focus:outline-none rounded-xl ring-orange-400 w-full" required>
        </div>
        <div class="flex justify-center items-center flex-col gap-1">
            <label for="pic" class="mr-auto text-slate-700">Choose Picture (16x9, HD Quality):</label>
            <input formControlName="pic" type="file" (change)="uploadChange($event)" id="pic" name="pic" class="p-2 bg-slate-50 border focus:ring focus:outline-none rounded-xl ring-orange-400 w-full" required>
        </div>
        <div class="flex justify-center items-center flex-col gap-1 w-full">
            <label for="category" class="mr-auto text-slate-700">Select Where To Post</label>
            <select formControlName="category" class="p-2 bg-slate-50 border focus:ring focus:outline-none rounded-xl ring-orange-400 w-full" name="category" id="category" required>
                <option value="domestic">Domestic</option>
                <option value="foreign">Foreign</option>
            </select>
        </div>
    </div>
    <div class="flex justify-center items-center flex-col gap-1 w-full">
        <label for="places" class="mr-auto text-slate-700">Places Covered: (Separate By Comma " , " without space)</label>
        <input formControlName="places" type="text" id="places" name="places" class="p-2 bg-slate-50 border focus:ring focus:outline-none rounded-xl ring-orange-400 w-full" required>
    </div>
    <div class="flex justify-center items-center flex-col gap-1 w-full">
        <label for="desc" class="mr-auto text-slate-700">Description:</label>
        <textarea formControlName="desc" id="desc" name="desc" class="p-2 bg-slate-50 border focus:ring focus:outline-none rounded-xl ring-orange-400 w-full" required></textarea>
    </div>
    <div id="iternity" name="iternity" class="w-full relative" formArrayName="days">
        <div *ngFor="let i of daysControl; let index = index" class="flex justify-center items-center flex-row gap-1 w-full">
            <div class="flex flex-col w-full">
                <label for="day_{{index}}" class="mr-auto text-slate-700">Day {{index+1}}:</label>
                <textarea [formControlName]="index" id="day_{{index}}" name="day_{{index}}" class="p-2 bg-slate-50 border focus:ring focus:outline-none rounded-xl ring-orange-400 w-full" required></textarea>
            </div>
        </div>
        <div class="flex justify-between items-center mt-5">
            <a class="bg-green-600 text-white p-1 rounded-md text-xs cursor-pointer" (click)="addDay()">Add Days</a>
            <a class="bg-red-600 text-white p-1 rounded-md text-xs cursor-pointer" (click)="removeDays()">Remove</a>
        </div>
    </div>
    <div class="flex justify-center items-center flex-col gap-1 w-full">
        <label for="inclusions" class="mr-auto text-slate-700">Package Inclusions: (Separate By " * " without space)</label>
        <textarea formControlName="inclusions" id="inclusions" name="inclusions" class="p-2 bg-slate-50 border focus:ring focus:outline-none rounded-xl ring-orange-400 w-full" required></textarea>
    </div>
    <h1 class="text-2xl text-green-600 text-center">{{message}}</h1>
    <h1 class="text-2xl text-red-600 text-center">{{error}}</h1>
    <div class="flex justify-center items-center">
        <button type="submit" class="p-2 text-lg px-8 border-2 border-orange-400 text-[#122e44] rounded-xl hover:bg-orange-400 hover:text-white font-bold transition-all duration-300 font-[Oswald] tracking-widest pb-3">Submit Tour</button>
    </div>
</form>